.root {
  margin-bottom: var(--spacing-1);
}

.label {
  margin-bottom: var(--spacing-xs);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: none;
  color: var(--color-primary-dark);
}

@media print {
  .root {
    margin-bottom: 0.2rem;
  }

  .label {
    margin-bottom: 0.05rem;
  }
}
