.paper {
  margin-bottom: var(--spacing-xs);
}

.degree {
  margin-bottom: var(--spacing-) !important;
  font-size: var(--font-size-sm) !important;
}

.school {
  line-height: var(--line-height-normal);
  font-size: var(--font-size-xs) !important;
}
