.root {
  margin-bottom: var(--spacing-xs);
}

.rootCompact {
  margin-bottom: var(--spacing-xs);
}

.rootCompact .chips {
  gap: var(--spacing-2xs);
}

.category {
  margin-bottom: var(--spacing-2xs) !important;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm) !important;
}


.chips {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}
